---
---

@import "{{ site.theme }}";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

h1 {
    text-shadow: 2px 2px 2px #aaa;
    font-family: 'Roboto Slab',serif;

}
h2 {
    color: #333b56;
}
h2 span { 
    background-color: #a5b6ef;
    padding: 5px;
    box-shadow: 5px 5px 3px #888888;
}
img {
    border-radius: 2%;
}

p span {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
  border-left: 10px solid green;
}
